.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  outline: none;

  [data-bs-theme="light"] {
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}

.mobile-nav {
  display: inline-flex;
  margin-left: 2rem;
}
