.hero {
    position: relative;
    background-color: $contrarian-dark-green;
    color: $contrarian-white;
    overflow: hidden;

    $shadow-vertical-length: 6px;
    $shadow-blur-radius: 10px;
    $shadow-color: rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px $shadow-vertical-length $shadow-blur-radius 0px $shadow-color;
    -moz-box-shadow: 0px $shadow-vertical-length $shadow-blur-radius 0px $shadow-color;
    box-shadow: 0px $shadow-vertical-length $shadow-blur-radius 0px $shadow-color;

    $dark-right-bg-color: #555;

    &::before {
        content: '';
        display: none;
        background-color: $contrarian-white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 50%;

        @at-root [data-bs-theme="dark"] & {
            background-color: $dark-right-bg-color;
        }

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &::after {
        content: '';
        display: none;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40%;
        border-top-color: $contrarian-dark-green;
        border-left-color: $contrarian-dark-green;
        border-bottom-color: $contrarian-white;
        border-right-color: $contrarian-white;
        border-style: solid;
        border-width: 224px;

        @at-root [data-bs-theme="dark"] & {
            border-bottom-color: $dark-right-bg-color;
            border-right-color: $dark-right-bg-color;
        }

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }


    &-text, &-brand {
        position: relative;
        z-index: 1000;
    }

    &-text {
        text-align: justify;
    }

    &-brand {
        color: $contrarian-white;

        @at-root [data-bs-theme="dark"] & {
            color: $contrarian-white !important;
        }

        @include media-breakpoint-up(lg) {
            color: $contrarian-black;
        }
    }
}
