@-webkit-keyframes headerSlideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerSlideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-navbar.fixed-top {
  -webkit-animation: headerSlideDown 0.95s ease forwards;
          animation: headerSlideDown 0.95s ease forwards;
}

.mobile-navbar {
  float: right;
  margin-right: -12px;
}

.category-labels {
    color: $black;
    text-decoration: none;
    margin-right: 11px;
    font-size: 12px;
}