@-webkit-keyframes headerSlideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes headerSlideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.main-navbar {

    &.fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1055;
        -webkit-animation: headerSlideDown 0.95s ease forwards;
        animation: headerSlideDown 0.95s ease forwards;

        > .navbar {
            @extend .bg-body-tertiary;
        }
        > .category-nav {
            @at-root [data-bs-theme="light"] & {
                background-color: $gray-200;
            }

            @at-root [data-bs-theme="dark"] & {
                background-color: $gray-700;
            }
        }
    }
}
