$color-mode-type: data;

$font-family-base: var(--font-montserrat);
$headings-font-family: var(--font-merriweather);

$contrarian-white: #ffffff;
$contrarian-black: #000000;
$contrarian-dark-green: #062319;
$black: #000000;
